[submodule "tensor2tensor"]
	path = tensor2tensor
	url = https://github.com/tensorflow/tensor2tensor.git
[submodule "MinAtar"]
	path = MinAtar
	url = https://github.com/kenjyoung/MinAtar.git
[submodule "keras-rl2"]
	path = keras-rl2
	url = https://github.com/taylormcnally/keras-rl2.git
